---
links:
  - name: Twitter
    href: https://twitter.com/oldsoul_eli
    slug: connect
  - name: GitHub
    href: https://github.com/imelismith
    slug: code
  - name: Email
    href: mailto:iimeli2020@gmail.com
    slug: contact
categories:
  - name: meta
  - name: oss
  - name: links
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="stars">
    <div class="twinkling">
    <!-- <div class="clouds"> -->
    <div class="container">
      <header>
        <div id="links">
          {% for link in page.links %}
          <span>
            <a href="{{ link.href }}" title="{{ link.name }}">{{ link.slug | capitalize }}</a>
          </span>
          {% endfor %}
        </div>
      </header>
      <main>
        <div class="activateBtn pulse">
          <button type="button">Open Terminal</button>
        </div>
         <div class="terminal pulse">
          <div class="taskbar">
            <a href="javascript:void(0)" class="close" id="close"></a>
            <a href="javascript:void(0)" class="minimize"></a>
            <a href="javascript:void(0)" class="maximize" id="max"></a>
          </div>
          <div class="code">
            {% for category in page.categories %}
            <div class="block" id="{{ category.name }}-block">
              <div class="input">{% if category.slug %}{{ category.slug }}{% else %}{{ category.name }}{% endif %}</div>
              <div class="result">
                <pre class="json"><code id="{{ category.name }}-json"></code></pre>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
    {% include foot.html %}
    <!-- </div> -->
    </div>
    </div>
  </body>
</html>