---
links:
  - name: LinkedIn
    href: https://linkedin.com/in/iimeli
    slug: connect
  - name: GitHub
    href: https://github.com/imelismith
    slug: code
  - name: Email
    href: mailto:dwightsmth@gmail.com
    slug: contact
categories:
  - name: meta
  - name: education
  - name: projects
  - name: resume
  - name: links
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <header>
        <h1 id="name"><a href="/">Eli Smith</a></h1>
        <div id="links">
          {% for link in page.links %}
          <a href="{{ link.href }}" title="{{ link.name }}">{{ link.slug | capitalize }}</a>
          {% endfor %}
        </div>
      </header>
      <main>
        <div class="preload">
          <p>Hey I'm Eli. Welcome to my site!</p>
          <p>I'm a self taught developer passionate about JavaScript, programming, and technology in general. 
            Currently pursuing a career as a software engineer, primarily focused on frontend development.</p>
          <p>I'm a huge fan of open source so take a look at my <a href="https://github.com">GitHub</a> profile to see what I've been up to.</p>
          <p>I'm also seeking a position this summer, checkout my <a href="/assets/docs/resume.pdf">résumé</a> if you're hiring!</p>
          <p>Wanna chat? Feel free to get in touch!</p>
          <p><a href="https://github.com/imelismith">GitHub</a> / <a href="http://linkedin.com/in/iimeli">LinkedIn</a> / <a href="https://twitter.com/oldsoul_eli">Twitter</a> / <a href="mailto:dwightsmth@gmail.com">Email</a></p>
        </div>
        <div class="terminal pulse">
          <div class="taskbar">
            <a href="javascript:void(0)" class="close"></a>
            <a href="javascript:void(0)" class="minimize"></a>
            <a href="javascript:void(0)" class="maximize"></a>
          </div>
          <div class="code">
            {% for category in page.categories %}
            <div class="block" id="{{ category.name }}-block">
              <div class="input">eli.{% if category.slug %}{{ category.slug }}{% else %}{{ category.name }}{% endif %}</div>
              <div class="result">
                <pre class="json"><code id="{{ category.name }}-json"></code></pre>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </div>
    {% include foot.html %}
  </body>
</html>
