<footer class="mainFooter">
	<div class="mainFooter__location">
		New York, NY
	</div>
	<div class="mainFooter__median"></div>
	<div class="mainFooter__copyright">
		&copy; imelismith - <script type="text/javascript">document.write(new Date().getFullYear());</script>
	</div>
</footer>

<script type="text/javascript" src="./assets/scripts/imeli.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>