<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="eli, smith, iimeli, brookly newyork, javascript">

  <title>{{ site.title }}</title>

  <base href="{{ site.baseurl }}">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="profile">
  <meta property="og:profile:first_name" content="Eli">
  <meta property="og:profile:last_name" content="Smith">
  <meta property="og:profile:username" content="iimeli">
  <meta property="og:profile:gender" content="male">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="{{ site.img }}">
  <meta property="og:url" content="{{ site.baseurl }}">

  <meta name="twitter:card" content="{{ site.description }}">
  <meta name="twitter:site" content="@iimeli">
  <meta name="twitter:creator" content="@iimeli">
  <meta name="twitter:url" content="{{ site.baseurl }}">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="{{ site.img }}">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700|Merriweather+Sans:300,400|Droid+Sans+Mono">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron:400,900">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/styles/iimeli.css' | prepend: site.baseurl }}">
</head>
