.hidden-block {
  display: none;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .spinner-icon_global {
    animation: Icon-logo-spin infinite 2s linear;
  }
}

@keyframes Icon-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
